@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

.font-spartan {
  font-family: 'League Spartan', sans-serif;
}

/* Cambia el color de las flechas */
.slick-prev:before,
.slick-next:before {
  color: red !important; /* rojo */
  font-size: 30px; /* tamaño opcional */
}

.fixed-height-modal {
  height: 750px; /* o el valor que necesites */
}
